.search-form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #0E1621;
  box-sizing: border-box;
}

.input-wrapper {
  position: relative;
  width: 400px;
}

input, button {
  height: 60px;
  border: 0;
  font-size: 1.8rem;
  color: #ffffff;
  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  padding: 0 1.6rem;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  background: #182533;
}

button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  font-weight: bold;
  background: #57bd84;
  border-radius: 0 10px 10px 0;
  z-index: 2;
  cursor: pointer;
}

input:not(:placeholder-shown) + button {
  display: block;
}
